.Footer {
    background: beige;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    height: 250px;
    transform: translate(0%, 100%);
    position: relative;
    width: auto;
}

.Footer ul {
    list-style: none;

}

.Footer ul li a {
    text-decoration: none;
    color: black;
    font-size: 0.8rem;
    margin-left: 5px;

}

.Footer label {
    font-weight: bold;
}

.Footer p {
    font-size: 0.8rem;
    margin-top: 5px;
}

.Footer h3 {
    color: orange;
}

.Footer h4 {
    padding-top: 5px;
}

.Footer .Akhir {
    display: flex;
    justify-content: space-between;
    left: 0;
    top: 70%;
    position: absolute;
    width: 100%;
    border-top: 1px solid;
    padding-top: 25px;

}

.Footer .Akhir p {
    margin-left: 20px;
}

.Footer .IconFooter {
    margin-right: 20px;

}

.Footer .IconFooter span {
    padding: 15px 15px 5px 15px;
    border-radius: 100px;
    margin-left: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.FooterAkhir {
    background-color: beige;
    height: 100px;
    width: 100%;
    position: absolute;
    top: 70%;
    transform: translate(0, 100%);

}

@media screen and (max-width: 450px) {
    .Footer {
        height: auto;
        width: auto;
        display: block;
        transform: translate(0, 70vh);
    }

    .Footer .Akhir {
        display: block;
        top: 100%;
    }

    .Footer .Akhir p {
        margin: 5px;
        padding: 10px;
        text-align: center;
    }

    .Footer .IconFooter {
        text-align: center;
        margin-bottom: 20px;
    }
}