 .HeaderDua {
     background-color: beige;
     position: absolute;
     top: 80%;
     left: 20%;
     width: 40%;
     padding: 10px;
     border-radius: 10px;
 }

 .HeaderDua .ParagraphHeaderDua {
     font-size: 0.8rem;
     color: black;
     padding-top: 5px;
 }



 @media screen and (min-width: 370px) and (max-width: 470px) {
     .HeaderDua {
         width: 80%;
         transform: translate(-15%, -15vh);
     }

 }


 @media screen and (max-width: 325px) {
     .HeaderDua {
         width: 80%;
         transform: translate(-15%, -15vh);
     }

 }

 @media screen and (min-width: 470px) and (max-width: 800px) {
     .HeaderDua {
         width: 70%;
         transform: translate(-10%, -30vh);
     }

 }