.Home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    background-color: white;
    padding: 10px 70px;
    position: relative;
    /* margin-top: 20px; */
    left: 50%;
    /* top: 50%; */
    transform: translate(-50%, 50%);
    border-radius: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -5px;

}

.Home .HomeJudul {
    font-size: 2rem;
    padding: 5px;
    margin: 10px;
    text-align: center;

}

p {
    font-size: 0.9rem;
    margin-bottom: 10px;
}

.BTN {
    background: -webkit-linear-gradient(left, #003366, #004080, #0059b3, #0073e6);
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 0.8rem;
}

.BTN:hover {
    background: #8c5efc;
}

@media screen and (max-width: 1200px) {
    .Home {
        width: 90%;
    }

}

@media screen and (max-width: 480px) {
    .Home {
        transform: translate(-50%, 20%);
    }

}