.LoginPage {
    background-color: beige;
    width: 100%;
    /* height: 600px; */
    min-height: 100vh;
}

.LoginForm {
    background-color: #0059b3;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px;
    border-radius: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -5px;
}

.LoginForm h3 {
    margin: 10px;
    color: #fff;
}

.ParagrapPembuka {
    color: #fff;
    font-weight: 500;
    margin-bottom: 5px;
}

.LoginForm .formLogin {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 5px;
    padding: 2px;
}

.LoginForm .formLogin label {
    padding: 2px 0px 2px 0px;
    font-size: 1rem;
    margin: 5px;
    color: #fff;

}

.LoginForm .formLogin input {
    height: 20px;
    padding: 5px 5px 5px 25px;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-size: 0.8rem;
}

.formLogin a {
    font-size: 0.7rem;
    text-decoration: none;
    text-align: end;
    padding: 5px;
    margin: 2px 2px 0px 2px;
    color: #fff;
    font-weight: 500;
}


.formLogin p {
    font-size: 0.8rem;
    padding: 3px;
    margin-top: 5px;
    color: orange;
}

.formLogin span {
    font-size: 0.8rem;
    text-align: center;
    margin-top: 10px;
    color: #fff;
    margin-bottom: 10px;
}

.formLogin button {
    height: 30px;
    margin-top: 5px;
    margin-bottom: 3px;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-size: 0.8rem;
}

.formLogin button:hover {
    background: -webkit-linear-gradient(left, #003366, #004080, #0059b3, #0073e6);
    color: #fff;
}

.LoginForm .slideControl {
    position: relative;
    display: flex;
    height: 30px;
    width: 100%;
    overflow: hidden;
    margin: auto;
    justify-content: space-around;
    border: 1px solid lightgray;
    border-radius: 20px;
}

.LoginForm .sliderTab {
    display: flex;
    justify-content: space-around;
    position: absolute;
    height: 100%;
    width: 100%;
    color: #fff;
    left: 0;
    z-index: 0;
    border-radius: 20px;
}

.slideLabel {
    z-index: 1;
    color: orange;
    font-weight: bold;
    cursor: pointer;
}

.activeLogin {
    width: 50%;
    height: 100%;
    position: absolute;
    border-radius: 20px;
    left: 0;
    text-align: center;
    background: #fff;

}

.activeRegister {
    width: 50%;
    height: 100%;
    position: absolute;
    border-radius: 20px;
    right: 0;
    text-align: center;
    background: #fff;

}


.formLogin .BtnDaftar {
    margin-top: 10px;
    width: 100%;
}


.formLogin .LoginIconLogin {
    width: 15px;
    position: absolute;
    top: 36.5%;
    left: 3%;

}

.formLogin .LoginIconLock {
    width: 15px;
    position: absolute;
    top: 52.5%;
    left: 3%;

}

.formLogin .LoginEye {
    width: 15px;
    position: absolute;
    top: 52.5%;
    right: 5%;

}

.formLogin .LogoGoogle {
    width: 20px;
    margin-right: 5px;
    margin-bottom: -5px;
}



/* Register Form */
.RegisterForm {
    background: beige;
    width: 100%;
    /* height: 700px; */
    min-height: 100vh;

}

.HalamanReg {
    background-color: #0059b3;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 5px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -5px;
}

.HalamanReg a {
    font-size: 0.7rem;
    text-decoration: none;
    text-align: end;
    padding: 5px;
    margin: 2px 2px 0px 2px;
    color: #fff;
    font-weight: 500;
}


.HalamanReg .JudulRegister {
    margin: 5px;
    color: #fff;
}

.ParagraphReg {
    color: #fff;
    font-weight: 500;
}

.HalamanReg .formRegister {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 5px;
    padding: 2px;
}

.LabelRegister {
    padding: 2px 0px 2px 0px;
    font-size: 1rem;
    margin: 5px;
    color: #fff;

}

.InputRegister {
    height: 20px;
    padding: 5px 5px 5px 25px;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-size: 0.8rem;
}

.formRegister p {
    font-size: 0.8rem;
    padding: 3px;
    margin-top: 5px;
    color: orange;
}

.formRegister span {
    font-size: 0.8rem;
    text-align: center;
    margin-top: 10px;
    color: #fff;
    margin-bottom: 10px;
}

.formRegister button {
    height: 30px;
    margin-top: 5px;
    margin-bottom: 3px;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-size: 0.8rem;
}

.formRegister button:hover {
    background: -webkit-linear-gradient(left, #003366, #004080, #0059b3, #0073e6);
    color: #fff;
}

.HalamanReg .slideControl {
    position: relative;
    display: flex;
    height: 30px;
    width: 100%;
    overflow: hidden;
    margin: 10px;
    justify-content: space-around;
    border: 1px solid lightgray;
    border-radius: 20px;
    align-items: center;
}

.HalamanReg .sliderTab {
    display: flex;
    justify-content: space-around;
    position: absolute;
    height: 100%;
    width: 100%;
    color: #fff;
    left: 0;
    z-index: 0;
    border-radius: 20px;
    align-items: center;
}

.slideLabel {
    z-index: 1;
    color: orange;
    font-weight: bold;
    cursor: pointer;
}

.formRegister .BtnDaftarRegister {
    margin-top: 10px;
    width: 100%;
}

.formRegister .TeleponRegister {
    height: 20px;
    padding: 5px 5px 5px 25px;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-size: 0.8rem;
}



.LogoUserRegister {
    width: 15px;
    position: absolute;
    top: 28.5%;
    left: 4%;

}

.LogoMailRegister {
    width: 15px;
    position: absolute;
    top: 40%;
    left: 4%;

}

.LogoLockRegister {
    width: 15px;
    position: absolute;
    top: 51.5%;
    left: 4%;

}

.LogoEyeRegister {
    width: 15px;
    position: absolute;
    top: 51.5%;
    right: 4%;
}

.LogoGoogleRegister {
    width: 20px;
    margin-right: 5px;
    margin-bottom: -5px;
}

.LoginPhone {
    position: absolute;
    top: 68%;
    left: 4%;
}



/* Media query */
@media screen and (max-width: 400px) {
    .LoginForm {
        width: 90%;
    }

}

@media screen and (max-width: 400px) {
    .HalamanReg {
        width: 90%;
    }

}